<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
  
  <appSettings>
    <add key="enableSimpleMembership" value="false" />
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/> 
    
    <!-- Application Configuration -->
    <add key="app.version" value="1.0" />
    <add key="app.title" value="Quest for. . . the S0uth" />
    <add key="app.description" value="Sub zer0 Ultimate Top Hit"/>
    <add key="app.smtpHost" value="192.168.23.73"/>
    <add key="app.smtpPort" value="25"/>
    <add key="app.fromAddress" value="noreply@foodforhungryminds.com" />
    <add key="app.emailSubject" value="Tickets Purchased from the Food for Hungry Minds School"/>
    <add key="app.pdfInformation" value="Tickets from the Food for Hungry Minds High School Education"/>
    <add key="app.emailBatchSize" value="21"/>
    <add key="app.pdfFileName" value="D:\\Tickets\\Food for Hungry Minds Ticket Purchase_{0}.pdf"/>
    <add key="app.baseTicketImage" value="C:\\ticket1.jpg"/>
    <add key="app.ticketWidth" value="180"/>
    <add key="app.ticketHeight" value="110"/>
  </appSettings>

  <connectionStrings>
    <add name="main" connectionString="Data Source=(local);Initial Catalog=Raisins10;Integrated Security=true"/>
    <!--     <add name="main" connectionString="Data Source=NVITDMPDQ101\SQL2008;Initial Catalog=Raisins10;User ID=HMS;Password=kids"/> -->
  </connectionStrings>
  <activerecord isWeb="true">
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string_name" value="main" />
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>
  </activerecord>
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WebMatrix.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <!--<authentication mode="Windows">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="System.Web.Helpers" />
      </namespaces>
    </pages>
  </system.web>

  <location path="Payment">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
