@using Raisins.Client.ViewModels
@model RoleListViewModel

@{
    ViewBag.Title = "List of Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <h3>List of Roles</h3>
        <hr />
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        Role
                    </th>
                    <th>
                        Permissions
                    </th>
                    <th>
                        Tools
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @foreach (var permission in item.Permissions)
                            {
                                @Html.DisplayFor(modelItem => permission)
                                <br/>
                            }

                        </td>
                        <td>
                            @{ if (item.Name != "Super")
                                    // bawal to, dapat sa roles controller i-edit
                                {
                                    @Html.ActionLink("Edit", "EditRole", "Roles", new { RoleID = item.RoleID }, null)
                                }
                            }
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
