<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailCount" value="10"/>
    <add key="SleepTime" value="30000"/>
    <add key="ServiceBaseUri" value="http://localhost:4000/api"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>