@{
    ViewBag.Title = "Raisins 2.0 - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner">
    <img src="@Url.Content("~/Content/mainpaskostars.jpg")" alt="banner" id="banner"/>
</div>
<div id="content">
    <h1>Pasko 2011</h1>
    <br />
    <p>Ating sariwain ang diwa ng pasko.</p>
    <br />
    <h1>Pasko 2011 Beta testing</h1>
    <br />
    <p>Sorry for the late post, and it's long overdue. So here it is. Let me know if you find any bugs.</p>
</div>
