@{
    ViewBag.Title = "Index";
}

<div id="maincontentarea">
    <div class="event-title"><span>JAM FOR HUNGRY MINDS</span></div>
    <div id="rightcontentarea">
        <span id="timer">05:21:23:24</span>
        <div id="newscontainer">
            <h2>News</h2>
            <div class="newscontents">
                <a href="">News Title 1</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus vehicula velit, ut viverra risus imperdiet non. Ut in urna eget arcu viverra bibendum. Nam cursus laoreet sollicitudin. Etiam vel purus mauris, vitae auctor tellus.</p>
            </div>
            <div class="newscontents">
                <a href="">News Title 2</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus vehicula velit, ut viverra risus imperdiet non. Ut in urna eget arcu viverra bibendum. Nam cursus laoreet sollicitudin. Etiam vel purus mauris, vitae auctor tellus.</p>
            </div>
            <div class="newscontents">
                <a href="">News Title 3</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus vehicula velit, ut viverra risus imperdiet non. Ut in urna eget arcu viverra bibendum. Nam cursus laoreet sollicitudin. Etiam vel purus mauris, vitae auctor tellus.</p>
            </div>
        </div>
    </div>
</div>

<div style="clear:both;" id="teamscontainer">
    <ul id="teamscontent">
        <li>
            <a href="#"><img src="~/Content/Images/m.jpg" /></a>
            <h4>Band 1</h4>
         </li>
        <li>
            <a href="#"><img src="~/Content/Images/m.jpg" /></a>
            <h4>Band 2</h4>
        </li>
        <li>
            <a href="#"><img src="~/Content/Images/m.jpg" /></a>
            <h4>Band 3</h4>
        </li>
        <li>
            <a href="#"><img src="~/Content/Images/m.jpg" /></a>
            <h4>Band 4</h4>
        </li>
        <li>
            <a href="#"><img src="~/Content/Images/m.jpg" /></a>
            <h4>Band 5</h4>
        </li>
    </ul>
</div>