@{
    View.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner">
    <img src="/Content/banner.jpg" alt="banner" />
</div>
<br />
<div id="content">
    <h1>S0uth - Sub zer0 Ultimate Top Hit</h1>
    <br />
    <p>A Video Showdown for the Benefit of the HMS Highschool Scholars</p>
    <br />
    <h1>S0uth website now up!</h1>
    <br />
    <p>We'd like to know what you think. For team leaders, you can now send us your customized main page.</p>
</div>