@model dynamic

@{
	View.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<h2>@ViewHelper.Title</h2>
	@ViewHelper.Description

	<ul>
		<li>@Html.ActionLink("View Tickets", "Index", "Ticket")</li>
		<li>Add Payment</li>
	</ul>
