@{
    ViewBag.Title = "Mechanics";
}
<div id="mechanics">
    @*<h2>Mechanics</h2>
*@
    <h3>INTERNAL VOTING (MANILA OFFICE)</h3>

    <ol>
        <li>Voting period starts on October 25 and ends on December 11, 6 PM (Manila Time).
        </li>
        <li>Cast your votes by buying tickets from the band manager/representatives. Each voter
            has the power to vote for the band of their choice and/or the executive they want
            to see perform at the Year End party.
            <br />
            Bands
        <table>
            <thead>
                <tr>
                    <td>Band Name</td>
                    <td>Band Manager</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Forever Wassaque</td>
                    <td>Rod Lucaya</td>
                </tr>
                <tr>
                    <td>The Saboteurs</td>
                    <td>Arla Pascual</td>
                </tr>
                <tr>
                    <td>RES Band</td>
                    <td>Judee Quiazon</td>
                </tr>
                <tr>
                    <td>JNG Project</td>
                    <td>Lesley Evangelista</td>
                </tr>
                <tr>
                    <td>Remedy</td>
                    <td>Ever Fajardo</td>
                </tr>
            </tbody>
        </table>
            Executives
        <ul>
            <li>Dave Evans</li>
            <li>Chuck Maahs</li>
            <li>Kurt Blumberg</li>
        </ul>
        </li>
        <li>Each vote/ticket costs P50. Manila staff can only pay in peso.</li>
        <li>An e-ticket will be e-mailed to Navitaire voters.</li>
        <li>All paid tickets will be part of the raffle draw. </li>
    </ol>

    <h3>External Voting (Non-Employees)</h3>
    <ol>
        <li>Voting period starts on October 25 and ends on December 11, 6 PM (Manila Time).
        </li>
        <li>There are 2 ways to cast your votes:
        <ol>
            <li>Cast your votes by buying tickets from Navitaire employees for the band of your
                choice. Paper tickets will be issued. </li>
            <li>Contribute through Paypal (paypal instructions below). E-ticket will be e-mailed
                to voters.</li>
        </ol>
        </li>
        <li>Ticket costs are as follows
        <table>
            <thead>
                <tr>
                    <td>Amount</td>
                    <td>Equivalent</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50 PHP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>1 USD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>1 GBP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>2 SGD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>2 NZD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>9 HKD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>4 MYR</td>
                    <td>1 Ticket</td>
                </tr>
            </tbody>
        </table>
        </li>
    </ol>

    <h3>Other Offices</h3>
    <ol>
        <li>Voting period starts on October 25 and ends on the day before SLC yearend party.
        </li>
        <li>There are two ways to cast your votes:
            <ol>
                <li>Cast your votes by buying tickets from your office representatives. 
                    <table>
                        <tr>
                            <td>SLC</td>
                            <td>Barbara Young</td>
                        </tr>
                        <tr>
                            <td>MSP</td>
                            <td>Amy Peschong</td>
                        </tr>
                        <tr>
                            <td>AUS</td>
                            <td>Susan Benites</td>
                        </tr>
                        <tr>
                            <td>SYD</td>
                            <td>TBA</td>

                        </tr>
                    </table>
                </li>
                <li>Contribute through Paypal (paypal instructions below).</li>
            </ol>
        </li>
        <li>Each voter has the power to vote for the band of their choice and/or the executive
            they want to perform at the Year End party (Manila).
            <table>
                <thead>
                    <tr>
                        <td>Band Name</td>
                        <td>Band Manager</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Forever Wassaque</td>
                        <td>Rod Lucaya</td>
                    </tr>
                    <tr>
                        <td>The Saboteurs</td>
                        <td>Arla Pascual</td>
                    </tr>
                    <tr>
                        <td>RES Band</td>
                        <td>Judee Quiazon</td>
                    </tr>
                    <tr>
                        <td>JNG Project</td>
                        <td>Lesley Evangelista</td>
                    </tr>
                    <tr>
                        <td>Remedy</td>
                        <td>Ever Fajardo</td>
                    </tr>
                </tbody>
            </table>
            Executives
        <ul>
            <li>Dave Evans</li>
            <li>Chuck Maahs</li>
            <li>Kurt Blumberg</li>
        </ul>
        </li>
        <li>Ticket costs are as follows
        <table>
            <thead>
                <tr>
                    <td>Amount</td>
                    <td>Equivalent</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50 PHP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>1 USD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>1 GBP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>2 SGD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>2 NZD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>9 HKD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>4 MYR</td>
                    <td>1 Ticket</td>
                </tr>
            </tbody>
        </table>
        </li>
        <li>An e-ticket will be e-mailed to voters every Friday.</li>
        <li>All paid tickets will be part of the raffle draw. </li>
        <li>If requested, Margie Koch will provide receipts for tax purposes.</li>

    </ol>

    <h3>Instructions for Paypal Contribution</h3>
    <ol>
        <li>Login to your Paypal account</li>
        <li>Click Send Money tab.</li>
        <li>Fill up fields as follows. Feel free to donate higher amount.<br />
            <img src="~/Content/Images/paypal1.jpg" />
        </li>
        <li>Click Continue</li>
        <li>Fill up fields as follow:
            <br />
            <img src="~/Content/Images/paypal2.jpg" />
        </li>
        <li>Be sure to include the band you are voting for in the "message" section before sending.
            If the message section is left blank, the vote will be split amongst the bands.
        </li>
        <li>Click Send Money.</li>
    </ol>

</div>
