@{
    ViewBag.Title = "Mechanics";
}


<div id="mechanics">
  <ul id="mec-link" >
                 <li>  <a href="#details">Details</a> </li>
                <li>  <a href="#intern">INTERNAL</a> </li>
                <li> <a href="#extern">EXTERNAL</a></li>
                 <li> <a href="#paypal">Paypal Contribution</a></li>
     </ul>
   

    <br />  <br />  <br />

      <div id="details">
    <h2 align="center">HMS Presents Lip Sync Battle</h2><br/><hr/><br/><br/>
       
    <h3> Mechanics for the MTV:</h3>
    <ol>
        <li>The groups should create a 3 to 5-minute music video showing performers imitating chosen artist/s.</li>
        <li>Each group should have at least 5 performers (e.g. main singer and backup dancers/actors) to appear in the video. </li>
        <li>Music video may be a mash-up so it may include more than one artist.</li>
        <li>The groups should observe the following guidelines:
            <ul>
                <li>○ It should be wholesome and suitable for all ages</li>
                <li>○ No profanity</li>
                <li>○ No repetitive abusive language</li>
                <li>○ No nudity</li>
                <li>○ No discrimination (racial, sexual, or any other kind)</li>
            </ul>
        </li>
        <li>Video should be submitted on or before October 27.</li>
        <li>Deductions will apply for late submission.</li>
       
    </ol><br/>



<h3> AWARDS:</h3>
        
    <strong>Best MTV Criteria:</strong>
    
   <pre> 
    30      Showmanship 
    20      Costume and Props
    20      Video Quality, Editing, Sound quality
    30      Audience Impact and Entertainment value
    -------------------------------------------
    100     Total Score   

   </pre>         

<strong>People’s Choice</strong> – based on number of VOTES

    </div>
    <br/><br/>

    <a id="intern"></a>
    
    <h3>INTERNAL VOTING (MANILA OFFICE)</h3>

    <ol>
        <li>Voting period starts on November 7 and ends on December 8, 5pm (Manila Time).
        </li>
        <li>Cast your votes by approaching the respective group representative:
            <br /><br />
            
        <table>
            <thead>
                <tr>
                    <td>Team</td>
                    <td>Group Name</td>
                    <td>Group Rep</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NAV QA/TS</td>
                   <td>Kingsman: The Security Service</td>
                    <td>Ralph Ventenilla</td>

                </tr>
                <tr>
                    <td>NAV Dev</td>
                   <td>Bey</td>
                    <td>Migo Muyot</td>
                </tr>
                <tr>
                    <td>NAV RA Group</td>
                    <td>RA Street Boys</td>
                    <td>Roane Villar</td>
                </tr>
                <tr>
                    <td>NAV Product/SS/PMO</td>
                   <td>Teenage Dream</td>
                    <td>Cristina Bercadez</td>
                </tr>
            </tbody>
        </table>
        </li>
        <li>You can vote in the following denominations:
        <table>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Cost</td>
                    <td>Tickets/Raffle Entries</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bronze</td>
                    <td>50 PHP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>Silver(bulk vote)</td>
                    <td>500 PHP</td>
                    <td>12 Tickets</td>
                </tr>
                <tr>
                    <td>Gold(bulk vote)</td>
                    <td>1000 PHP</td>
                    <td>25 Tickets</td>
                </tr>
                <tr>
                    <td>Platinum(bulk vote)</td>
                    <td>2000 PHP</td>
                    <td>55 Tickets</td>
                </tr>
                
            </tbody>
        </table>
            <br/><span>** Manila voters can only pay in peso. **</span>
        </li>
        <li>An e-ticket will be e-mailed to the voter. Number of e-tickets will depend on the number tickets sold to the voter (ex. 10 tickets = 10 entries).</li>
        <li>All paid tickets will be part of the raffle draw. </li>
    
    </ol>

    <a id="extern"></a>
    <br /><br />
    <h3>EXTERNAL VOTING (Non-Employees)</h3>
    <ol>
        <li>Voting period starts on November 7 and ends on December 8, 5pm (Manila Time).
        </li>
        <li>There are 2 ways to cast your votes:
        <ul>
            <li>A. Cast votes from Navitaire employees (For Manila External)
                <br/><br/>
                <span> Tickets are available in the following denominations:</span> 
                <table>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Ticket/s</td>
                    <td>Cost</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bronze</td>
                    <td>1</td>
                    <td>50 PHP</td>
                    
                </tr>
                <tr>
                    <td>Silver(bulk vote)</td>
                    <td>12</td>
                    <td>500 PHP</td>
                 
                </tr>
                <tr>
                    <td>Gold(bulk vote)</td>
                    <td>25</td>
                    <td>1000 PHP</td>
                    
                </tr>
                <tr>
                    <td>Platinum(bulk vote)</td>
                    <td>55</td>
                    <td>2000 PHP</td> 
                   
                </tr>
                
            </tbody>
        </table>
                <br/><span>	** External voters in Manila can only pay in peso. **</span>

            </li>
            <li>B.  Contribute through Paypal (paypal instructions below).</li>
        </ul>
        </li>
        <li>Ticket costs for other currencies are as follows:
            <ul>
                <li>○   1 USD = 1 ticket</li>
                <li>○	1 AUD = 1 ticket</li>
                <li>○	1 GBP = 1 ticket</li>
                <li>○	2 SGD = 1 ticket</li>
                <li>○	2 NZD = 1 ticket</li>
                <li>○	9 HKD = 1 ticket</li>
                <li>○   4 MYR = 1 ticket</li>
            </ul>
        </li> 
        <li>An e-ticket will be e-mailed to the voter. Number of e-tickets will depend on the number tickets sold to the voter (ex. 10 tickets = 10 entries).
        </li>
        <li>All paid tickets will be part of the raffle draw.  
        </li>
    </ol>
     <a id="paypal"></a>
    <br /><br />
    <h3>Instructions for Paypal Contribution</h3>
    <ol>
        <li>Login to your Paypal account</li>
        <li>Click Send Money tab.</li>
        <li>Fill up fields as follows. Feel free to donate higher amount.<br />
            <img src="~/Content/Images/paypal1.jpg" />
        </li>
        <li>Click Continue</li>
        <li>Fill up fields as follow:
            <br />
            <img src="~/Content/Images/paypal2.jpg" />
        </li>
        <li>Be sure to include the group you are voting for in the "message" section before sending.
            If the message section is left blank, the vote will be split amongst the groups.
        </li>
        <li>Click Send Money.</li>
    </ol>

</div>
