@{
    ViewBag.Title = "Mechanics";
}


<div id="mechanics">
  <ul id="mec-link" >
                 <li>  <a href="#details">Details</a> </li>
                <li>  <a href="#intern">INTERNAL</a> </li>
                <li> <a href="#extern">EXTERNAL</a></li>
                 <li> <a href="#paypal">Paypal Contribution</a></li>
     </ul>
   

    <br />  <br />  <br />

      <div id="details">
    <h2 align="center">SUS!NAVpasikat 2014 – A Fundraising Project for Food for Hungry Minds School</h2><br/><hr/><br/><br/>
       
    <h3> Mechanics for the MTV:</h3>
    <ol>
        <li>The groups should prepare and create a 3-5 minute Black and White MTV featuring a song and dance.</li>
        <li>The song can be Tagalog or English or it can be a Mashup music.</li>
        <li>The groups are free to choose their theme for their MTV.</li>
        <li>The groups should observe the following guidelines:
            <ul>
                <li>○ It should be wholesome and suitable for all ages</li>
                <li>○ No profanity</li>
                <li>○ No repetitive abusive language</li>
                <li>○ No nudity</li>
                <li>○ No discrimination (racial, sexual, or any other kind)</li>
                <li>○ Should observe Accenture policies</li>
            </ul>
        </li>
        <li>Video should be submitted on or before November 10 (to follow- details on how to submit). </li>
        <li>Deductions will apply for late submission.</li>
       
    </ol><br/>



<h3> AWARDS:</h3>
        
    <strong>Best MTV Criteria:</strong>
    
   <pre> 
    30      Talent Showcase and Showmanship 
    30      Creativity and Originality
    15      Video Quality, Editing, Sound quality
    25      Audience Impact and Entertainment value
    -------------------------------------------
    100     Total Score   

   </pre>         

<strong>People’s Choice</strong> – based on number of VOTES

    </div>
    <br/><br/>

    <a id="intern"></a>
    
    <h3>INTERNAL VOTING (MANILA OFFICE)</h3>

    <ol>
        <li>Voting period starts on November 18 and ends on December 17, 9pm (Manila Time).
        </li>
        <li>Cast your votes by approaching the respective group representative:
            <br /><br />
            
        <table>
            <thead>
                <tr>
                    <td>Team</td>
                    <td>Group Name</td>
                    <td>Group Rep</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>QA/TS</td>
                   <td>QaiTS</td>
                    <td>Jay Santos</td>

                </tr>
                <tr>
                    <td>Res Dev</td>
                   <td>Manileños</td>
                    <td>Rina Jimenez</td>
                </tr>
                <tr>
                    <td>Product/Taleris</td>
                    <td>The TimeJumpers</td>
                    <td>Mai Navarro</td>
                </tr>
                
                <tr>
                    <td>SS/PMO/Disney</td>
                   <td>Funny Is The New Pogi</td>
                    <td>Warren Miňano</td>
                </tr>
                <tr>
                    <td>OC/SDO</td>
                   <td>OCSDO Angels</td>
                    <td>Jay Dizon</td>
                </tr>
                <tr>
                    <td>PM/NonRes/Res/BusinessGroups</td>
                    <td>The Chronicles of Naina</td>
                    <td>Pio Cortez</td>
                </tr>
                 <tr>
                     <td>IT/Installs/PMO/PerfMon/Security/BusOps</td>
                    <td>*Group TBA*</td>
                    <td>Teddy de Castro</td>
                </tr>
            </tbody>
        </table>
           @* Executives
        <ul>
            <li>TBA</li>
            <li>TBA</li>
            <li>TBA</li>
        </ul>*@
        </li>
        <li>You can vote in the following denominations:
        <table>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Cost</td>
                    <td>Tickets/Raffle Entries</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bronze</td>
                    <td>50 PHP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>Silver(bulk vote)</td>
                    <td>500 PHP</td>
                    <td>12 Tickets</td>
                </tr>
                <tr>
                    <td>Gold(bulk vote)</td>
                    <td>1000 PHP</td>
                    <td>25 Tickets</td>
                </tr>
                <tr>
                    <td>Platinum(bulk vote)</td>
                    <td>2000 PHP</td>
                    <td>55 Tickets</td>
                </tr>
                
            </tbody>
        </table>
            <br/><span>** Manila voters can only pay in peso. **</span>
        </li>
        <li>An e-ticket will be e-mailed to the voter. Number of e-tickets will depend on the number tickets sold to the voter (ex. 10 tickets = 10 entries).</li>
        <li>All paid tickets will be part of the raffle draw. </li>
    
    </ol>

    <a id="extern"></a>
    <br /><br />
    <h3>EXTERNAL VOTING (Non-Employees)</h3>
    <ol>
        <li>Voting period starts on November 18 and ends on December 17, 9pm (Manila Time).
        </li>
        <li>There are 2 ways to cast your votes:
        <ul>
            <li>A.	Buy paper tickets from SUS & Navitaire employees (For Manila External)
                <br/><br/>
                <span> Tickets are available in the following denominations:</span> 
                <table>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Ticket/s</td>
                    <td>Cost</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bronze</td>
                    <td>1</td>
                    <td>50 PHP</td>
                    
                </tr>
                <tr>
                    <td>Silver(bulk vote)</td>
                    <td>12</td>
                    <td>500 PHP</td>
                 
                </tr>
                <tr>
                    <td>Gold(bulk vote)</td>
                    <td>25</td>
                    <td>1000 PHP</td>
                    
                </tr>
                <tr>
                    <td>Platinum(bulk vote)</td>
                    <td>55</td>
                    <td>2000 PHP</td> 
                   
                </tr>
                
            </tbody>
        </table>
                <br/><span>	** External voters in Manila can only pay in peso. **</span>

            </li>
            <li>B.  Contribute through Paypal (paypal instructions below).</li>
        </ul>
        </li>
        <li>Ticket costs for other currencies are as follows:
            <ul>
                <li>○   1 USD = 1 ticket</li>
                <li>○	1 AUD = 1 ticket</li>
                <li>○	1 GBP = 1 ticket</li>
                <li>○	2 SGD = 1 ticket</li>
                <li>○	2 NZD = 1 ticket</li>
                <li>○	9 HKD = 1 ticket</li>
                <li>○   4 MYR = 1 ticket</li>
            </ul>
        </li> 
        <li>An e-ticket will be e-mailed to the voter. Number of e-tickets will depend on the number tickets sold to the voter (ex. 10 tickets = 10 entries).
        </li>
        <li>All paid tickets will be part of the raffle draw.  
        </li>
    </ol>
    <!--
    <a id="other"></a>
    <br /><br />
    <h3>OTHER OFFICES</h3>
    <ol>
        <li>Voting period ends on the day before SLC yearend party.
        </li>
        <li>There are two ways to cast your votes:
            <ol>
                <li>Cast your votes by buying tickets from your office representatives. 
                    <table>
                        <tr>
                            <td>SLC</td>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <td>MSP</td>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <td>AUS</td>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <td>SYD</td>
                            <td>TBA</td>

                        </tr>
                    </table>
                </li>
                <li>Contribute through Paypal (paypal instructions below).</li>
            </ol>
        </li>
        <li>Each voter has the power to vote for the Group of their choice.
            <table>
            <thead>
                <tr>
                    <td>Group Name</td>
                    <td>Group Manager</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                 <td>QaiTS</td>
                    <td>Jay Santos</td>
                </tr>
                <tr>
                   <td>MANILEÑOS</td>
                    <td>Rina Jimenez</td>
                </tr>
                <tr>
                  <td>The TimeJumpers</td>
                    <td>Mai Navarro</td>
                </tr>
                
                <tr>
                   <td>Funny Is The New Pogi</td>
                    <td>Warren Miňano</td>
                </tr>
                <tr>
                   <td>OCSDO Angels</td>
                    <td>Jay Dizon</td>
                </tr>
                <tr>
                <td>The Chronicles of Naina</td>
                    <td>Pio Cortez</td>
                </tr>
                 <tr>
                    <td>*Group TBA*</td>
                    <td>Teddy de Castro</td>
                </tr>
            </tbody>
        </table>
            @*Executives
        <ul>
            <li>TBA</li>
            <li>TBA</li>
            <li>TBA</li>
        </ul>*@
        </li>
        <li>Ticket costs are as follows
        <table>
            <thead>
                <tr>
                    <td>Amount</td>
                    <td>Equivalent</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50 PHP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>1 USD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>1 GBP</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>2 SGD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>2 NZD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>9 HKD</td>
                    <td>1 Ticket</td>
                </tr>
                <tr>
                    <td>4 MYR</td>
                    <td>1 Ticket</td>
                </tr>
            </tbody>
        </table>
        </li>
        <li>An e-ticket will be e-mailed to voters every Friday.</li>
        <li>All paid tickets will be part of the raffle draw. </li>
        <li>If requested, Margie Koch will provide receipts for tax purposes.</li>

    </ol>
        -->
     <a id="paypal"></a>
    <br /><br />
    <h3>Instructions for Paypal Contribution</h3>
    <ol>
        <li>Login to your Paypal account</li>
        <li>Click Send Money tab.</li>
        <li>Fill up fields as follows. Feel free to donate higher amount.<br />
            <img src="~/Content/Images/paypal1.jpg" />
        </li>
        <li>Click Continue</li>
        <li>Fill up fields as follow:
            <br />
            <img src="~/Content/Images/paypal2.jpg" />
        </li>
        <li>Be sure to include the group you are voting for in the "message" section before sending.
            If the message section is left blank, the vote will be split amongst the groups.
        </li>
        <li>Click Send Money.</li>
    </ol>

</div>
