@{
    View.Title = "Pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string template = string.Format("_{0}", @Request.QueryString["template"]);
}

<div id="pages">
    @Html.Partial(template)
</div>

