@{
    View.Title = "Watch Video";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string baseUrl = string.Format("http://{0}", HttpContext.Current.Request.Url.Host);
    if (!HttpContext.Current.Request.Url.IsDefaultPort)
    {
        baseUrl += ":" + HttpContext.Current.Request.Url.Port.ToString();
    }

    var video = string.Format("{0}{1}/{2}", baseUrl, Url.Content("~/Content/"), Request.QueryString["video"]);
}
<h1>@View.Title</h1>
<br />

<div id="player">
</div>

<script type="text/javascript">
    flowplayer("player", "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")",
	{ "clip": { "url": "@video" }, "plugins": { "rtmp": { "netConnectionUrl": "rtmp://rtmp01.hddn.com/fpplay", "url": "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")"}} }
);
</script>
