<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <connectionStrings>
    <!--<add name="Default" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Raisins;Integrated Security=SSPI;AttachDBFilename=D:\Users\vitalim\projects\Git\raisins\src\Raisins.Client.Web\App_Data\raisins.mdf" providerName="System.Data.SqlClient" />-->
    <add name="Default" connectionString="Data Source=NVITDMPDQ102\SQL2008;Initial Catalog=HMS2012;User ID=hmsuser;Password=hmsuser1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
