@model IEnumerable<Raisins.Client.Web.Models.TicketModel>
@{
    Layout = "~/Views/Shared/_Print.cshtml";
    View.Title = "Print";
}

@Html.ActionLink("Back to Payment", "Index", "Payment")

<div id="printticket">
@foreach (var item in Model) {
    <div class="item">
        <span class="code">@item.TicketCode</span>
        <p class="name">@item.Name</p>
        <p class="vote">(1 Ticket)</p>
    </div>
}
</div>