@model IEnumerable<Raisins.Client.Web.Models.TicketModel>

@{
    View.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var PaymentID = (long)ViewData["PaymentID"];
}

<h2>Show Tickets</h2>
    <hr />
    <br />
<p>
<!--
    @Html.ActionLink("Email Tickets", "Email") | or
-->
    @Html.ActionLink("View Printer Friendly", "Print", new { id = PaymentID })
</p>
<br />
<div id="tickets">
@foreach (var item in Model) {
    <div class="item">
        <span class="code">@item.TicketCode</span> - 
        <span class="name">@item.Name</span>
    </div>
}
</div>

