@{
    ViewBag.Title = "Manage";
}

<h2>Manage Payments</h2>

<table>
    <thead>
        <tr>
            <th>Beneficiary</th>
            <th>Name</th>
            <th>Currency</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: payments">
        <tr>
            <td data-bind="text: Beneficiary.Name" />
            <td data-bind="text: Name" />
            <td data-bind="text: Currency.CurrencyCode" />
            <td data-bind="text: Amount.toFixed(2)" />
        </tr>
    </tbody>
</table>

@section scripts {

    <script type="text/javascript">

        function PaymentsViewModel() {
            var self = this;

            self.payments = ko.observableArray();

            $.getJSON("/api/payments", self.payments);
        }

        $(function () {
            ko.applyBindings(new PaymentsViewModel());
        })


    </script>

}


