@{
    ViewBag.Title = "Manage";
}

 <br />
        <h1>MANAGE PAYMENTS</h1>
        <br />
<div class="image" data-bind="visible: loading"></div>
<table>
    <thead>
        <tr>
            <th>Beneficiary</th>
            <th>Name</th>
            <th>Currency</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: payments">
        <tr>
            <td data-bind="text: Beneficiary.Name" />
            <td data-bind="text: Name" />
            <td data-bind="text: Currency.CurrencyCode" />
            <td data-bind="text: Amount.toFixed(2)" />
        </tr>
    </tbody>
</table>

@section scripts {

    <script type="text/javascript">

        function PaymentsViewModel() {
            var self = this;

            self.payments = ko.observableArray();
            self.loading = ko.observable(true);


            //loading data
            $.getJSON("/api/payments", self.payments);
            this.loading(false);
        }

        $(function () {
            ko.applyBindings(new PaymentsViewModel());
        })


    </script>

}


