body {
	background-color: #D3C599;
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
	color: #563B1D;
}

a {
    text-decoration: None;
    color: #563B1D;
}

#clear {
    clear: both;
}

#main {
    border: 1px solid #B49C51;
    background-color: White;
    margin: 5px auto 0px auto;
    width: 800px;
}

#menu {
    width: 800px;
    margin: 0 auto 0 auto;
}

#menu ul li {
    display: inline;
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 50px;
    float: right;
}

#header {
    padding: 30px 30px 30px 30px;
}

#header h1 {
    font-size: 32px;
}

#footer {
    width: 800px;
    margin: 5px auto 0px auto;
}

#footer p {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#container {
    padding: 0px 30px 30px 30px;
    overflow: auto;
}

#container div.left {
    width: 60%;
    float: left;
}

#container div.right {
    width: 39%;
    float: left;
    background-color: #D3C599;
    border: 1px solid #563B1D;
}

#container div.right ul li img {
    float: left;
}

#container div.right ul li h3 {
    padding-left: 75px;
}

#container div.right ul li.bottom {
    background-color: #563B1D;
    color: White;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#container div.right ul li.bottom h3 {
    padding: 5px 5px 5px 5px;
}

#container div.right ul li p {
    padding-left: 75px;
}

#container div.right ul li {
    padding: 5px 10px 5px 10px;
    width: 100%;
    float: left;
}

/* page specific css */
.left div.beneficiary {
	width: 80%;
	margin: 10px auto 0 auto;
	background-color: #D3C599;
	padding: 15px 15px 15px 15px;
	border: 1px solid #563B1D;
}

.left div.beneficiary p.subtitle {
	text-align: right;
	font-size: 10px;
}

.left div.beneficiary p.footer {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.left div.beneficiary p.votes {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.left div.beneficiary p.amount {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.field-validation-error
{
    color: #f00;
}

#player {
    width: 420px;
    height: 260px;
}

#payments div.item {
    border: 1px solid #563B1D;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 90%;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
}

#payments div.item:hover {
    background-color: #D3C599;
}

#payments div.item span.beneficiary {
    font-weight: bold;
}

#payments div.item a {
    font-size: 10px;
}