body {
	background-color: mistyrose;/**/
	font-family: Calibri, Century Gothic, Verdana, sanserif;
	color: #000000;
	/*background-image: url('bg_stars.jpg');/**/
	/*background-repeat: repeat;/**/
	
}

a {
    /*text-decoration: None;*/
    text-shadow: orangered 0 5px 6px, orangered 1px 3px 3px;
    color: inherit;
    text-decoration: none;
    /*color: #563B1D;*/
}

a : hover{
    /*text-decoration: None;*/
    text-shadow: orangered 0 5px 6px, orangered 1px 3px 3px;
    text-decoration: none;
    color: white;
}

p
{
	text-indent: 20px;
}

#clear {
    clear: both;
}

#main {
    /*border: 1px solid #B49C51;*/
    /*border: 1px solid white;/**/
    border-width: 1px 1px 0px 0px;
    /*background-color: White;*/
    background-color: white;
    color: Black;
    margin: 5px auto 0px auto;
    /*width: 800px;*/
    min-width: 800px;
    max-width: 1000px;
    
    /*border radius across different browsers except IE 7 and lower*/
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	/*border-right: 1px orangered solid;/**/
	
	/*box-shadow*/
	-moz-box-shadow: 2px 5px 5px black;
   -webkit-box-shadow: 2px 5px 5px black;
	box-shadow: 2px 5px 5px black;
}

#menu {
    width: 800px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    font-weight: bold;
}

#menu ul li {
    display: inline;
    list-style-type: none;
    /*padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 50px;*/
    float: right;
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orangeRed));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='orangeRed'); /* for IE */
	background: -moz-linear-gradient(firebrick,  orange,  orangeRed); /* for firefox 3.6+ */ 
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    /*box-shadow*/
	-moz-box-shadow: 0px 5px 5px black;
   -webkit-box-shadow: 0px 5px 5px black;
	box-shadow: 0px 5px 5px black;
}


#header 
{
    padding: 30px 30px 30px 30px;
    background-image: url('logoblack.jpg');
    background-size: 13em;
    background-repeat: no-repeat;
    background-color: Black;
	/*border: 1px solid white;/**/

	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='firebrick', endColorstr='maroon'); /* for IE */
	/*background: -webkit-gradient(linear, left top, right bottom, from(black), to(dimgray)); /* for webkit browsers */
	/*background: -moz-linear-gradient(firebrick,  darkred,  maroon); /* for firefox 3.6+ */ 

	/*border radius across different browsers except IE 7 and lower*/
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	border-bottom: 1px white solid;
	
	color: dodgerblue;/* no text visible*/
	height: 90px;
	/*font-family: Monotype Corsiva, Lucida Handwrting, Lucida Calligraphy, Script MT Bold;/**/
}

#header span p
{
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	text-indent: 250px;
}

#header h1 {
    font-size: 32px;
}

#footer {
    width: 800px;
    margin: 5px auto 0px auto;
}

#footer p {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#container {
    /*padding: 0px 30px 30px 30px;
    overflow: auto;*/
    height: 100%;
    width: 100%;
    padding: 0px;
    overflow: hidden; /* no scroll bar*/
    
    
    background: maroon;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darkblue', endColorstr='cornflowerblue'); /* for IE */
	/*background: -webkit-gradient(linear, left top, left bottom, from(darkblue), to(cornflowerblue)); /* for webkit browsers */
	/*background: -moz-linear-gradient(darkblue,  cornflowerblue); /* for firefox 3.6+ */ 
}

#container div.full {
    width: 100%;
}

#container div.left {
    width: auto;/*55%;/**/
    /*float: left;*/
    float: left;
    /*margin-right: 30px;*/
	/*border: 1px solid white;/**/
	color: silver;
	margin-left: 10px;
}

#container div.left a {
	color: dodgerblue;
	text-decoration: underline;
	text-shadow: none;
	font-size: large;
	padding-left: 10px;
	padding-top:10px;
}


#container div.left h1 {

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='black', endColorstr='#333333'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(black), to(#333333)); /* for webkit browsers */
	background: -moz-linear-gradient(black,  #333333 ); /* for firefox 3.6+ */ 
	color: lightpink;
	border-radius: 5px 0px 0px 5px;
	padding: 5px;
	width: 100%;
	/*box-shadow*/
	-moz-box-shadow: 0 0 5px black;
   -webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
}

#container div.left h2 {
    margin: 5px 5px 5px 5px;
}

#container div.left #content {
	padding-bottom: 20px;
	padding-top: 10px;
	width: 550px;
	float: none;
}

#container div.left #banner img {
	margin-right: 10%;
	margin-left: 10%;
}

#container div.right {
    width: 43%;
    float: left;
    /*background-color: #D3C599;
    border: 1px solid #563B1D;*/
    background-color: transparent;
    color: Black;
}

#container div.right ul li
{
	display: inline;
    list-style-type: none;
    padding: 10px 0px 10px 5px;
    float: right;    
    background: orangered; /* for non-css3 browsers */

    width: 100%;
    float: left;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='orange', endColorstr='orangered'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orangered)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  orange,  orangered); /* for firefox 3.6+ */ 
    
	/*border radius across different browsers except IE 7 and lower*/
    -webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;/**/
	
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;/**/
	
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;/**/
	
	/*box-shadow*/
	-moz-box-shadow: 0 5px 5px black;
   -webkit-box-shadow: 0 5px 5px black;
	box-shadow: 0 5px 5px black;
}

#container div.right ul li img {
    float: left;
}

#container div.right ul li h3 {
    padding-left: 75px;
}

#container div.right ul li.bottom {
    /*background-color: #563B1D;
    color: White;*/
    background: black;
    filter: none;/* for IE */
    color: Yellow;
    padding: 0px 0px 0px 0px;
    margin: 0px 5px 0px 0px;
    
    border: 1px white solid;
    border-width: 1px 1px 0px 0px;/**/
    
    /*border radius across different browsers except IE 7 and lower*/
    -webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

#container div.right ul li.bottom h3 {
    padding: 5px 5px 5px 5px;
}

#container div.right ul li p {
    padding-left: 75px;
}

/* page specific css */

.left div.beneficiary {
	width: 80%;
	margin: 10px auto 0 auto;
	background-color: #D3C599;
	padding: 15px 15px 15px 15px;
	border: 1px solid #563B1D;
}

.left div.beneficiary p.subtitle {
	text-align: right;
	font-size: 10px;
}

.left div.beneficiary p.footer {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.left div.beneficiary p.votes {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.left div.beneficiary p.amount {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.left div.beneficiary p.lockedamount {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.left div.beneficiary p.currencyamount {
	font-size: 16px;
	text-align: center;
}


.left fieldset 
{
	padding: 10px;
	
}

.left fieldset input[type="text"]
{
	width: 200px;
	
}

.left fieldset input[type="text"]
{
	width: 200px;
	
}

.field-validation-error
{
    color: #f00;
}

#player {
    width: 420px;
    height: 260px;
}

#payments
{
	color: White;
	font-size: small;
	font-family: Sans-serif;
	width: 920px;
}

#payments a
{
	color: dodgerblue;
	text-decoration: underline;
	text-shadow: none;
	font-size: small;
	padding-left: 10px;
	padding-top:10px;
}

#payments div.item {
    border: 1px solid #563B1D;
    margin-bottom: 5px;
    margin-top: 5px;

    padding: 5px 5px 5px 5px;
    /*font-size: 12px;
    font-family: Monospace;*/
}

#payments div.lockitem {
    border: 1px solid #FF3A3A;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    font-family: Monospace;
}

#payments div.item:hover {
    background-color: firebrick;
}

#payments div.item span.beneficiary {
    font-weight: bold;
}

#payments div.item span.amount {
    float:right;
}

#payments div.item a {
    font-size: 10px;
}

#payments div.lockitem:hover {
    background-color: #D3C599;
}

#payments div.lockitem span.beneficiary {
    font-weight: bold;
}

#payments div.lockitem span.amount {
    float:right;
}

#payments div.lockitem a {
    font-size: 10px;
}

#pages ol ol {
    list-style-type: lower-alpha;
    padding-left: 35px;
}

#pages ol {
    list-style-type: decimal;
}

#pages li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#pages p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forms label {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

.forms span.field-validation-error {
    font-size: 9px;
}

.validation-summary-errors {
    font-size: 10px;
    color: Red;
}

.forms p {
    padding: 5px 5px 5px 5px;
}

.forms p.submit
{
    margin-left: 6.5em;
}

#tickets div.item {
    margin-top: 5px;
}

#tickets div.item span.code {
    font-weight: bold;
}

#print {
    background-color: White;
    color: Black;
}

#printticket {
    width: 750px;
}

#printticket div.item {
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 20px;
    width: 333px;
    height: 200px;
    float: left;
    background-image: url('http://mnlportal/HMS/Raisins2010/Content/ticket.jpg');
}

#printticket div.item span.code {
    float: right;
    padding-right: 5px;
}

#printticket div.item p.name {
    float: left;
    padding-top: 4em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-left: 3em;
    display: block;
}

#printticket div.item p.vote {
    float: left;
    text-align: center;
    width: 100%;
    padding-left: 4em;
    font-size: 11px;
    display: block;
}

.full span.right {
    float: right;
}

.full span.cashonhand {
    font-weight: bold;
    display: block;
    padding-bottom: 15px;
}

span.title
{
	font-size: 2em;
	font-weight: bold;
	color: white;
	
	text-shadow: 0.1em 0.1em 0.2em black;
	
}

div.video
{
	height: 324px;
	width: auto;
	background-color: Black;
	color: White;
	margin-left: auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

p.message
{
	color:White;
	font-size: 1.5em;
}

#banner
{
	height: 420px;
	width: 500px;
}

div.mechanics
{
	background-color:white;
	color: Black;
	overflow: scroll;
	padding-left:25px;
	list-style-type:circle;
	width: 520px;
}

#report {
  width: 970px;
}

div.report-team {
  background-color: white;
  color: black;
  margin: 24px;
  padding: 12px;
}

div.report-summary {
  font-size: 24px;
  text-align: center;
}
