body
{
    font-family: 'Open Sans', segoe ui, verdana, arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 14px;
    width: 1024px;
    margin: 12px auto;
}

hr
{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #333, #ccc, #333);
    background-image: -moz-linear-gradient(left, #333, #ccc, #333);
    background-image: -ms-linear-gradient(left, #333, #ccc, #333);
    background-image: -o-linear-gradient(left, #333, #ccc, #333);
}

h1.app-logo
{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

    h1.app-logo span
    {
        font-weight: lighter;
    }

 div.image {
  width:36px;
  height:36px;
  background-image:url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA%3D%3D);
}

h6.app-logo
{
    text-align: right;
}
div#maincontentarea
{
    height:auto;
    width: 1024px;
    overflow:hidden;
    position:relative;
}
div.event-title
{
    width: 600px;
    font-size: 72px;
    height: 400px;
    overflow: hidden;
    position: relative;
    float:left;
    background:url("Images/l.jpg") no-repeat 0 0;
}

    div.event-title span
    {
        position: absolute;
        bottom: 0;
        text-align: right;
        width:600px;
    }
div#rightcontentarea
{
    float:left;
    width:400px;
    padding-left: 24px;
    position:relative;
    height:auto;
}
#timer,#newscontainer
{
    position:relative;
}
#timer
{
    height:40px;
    font-size:62px;
}
#newscontainer
{
    padding-top: 20px;
    height: 304px;
    overflow-y: auto;
}
#newscontainer h2
{
    font-size: 40px;
}
div#teamscontainer
{
    padding-top:30px;
}
ul#teamscontent
{
    
}
ul#teamscontent li img
{
    width:180px;
    border:#FFF solid 1px;
}
ul#teamscontent li:first-child
{
    margin-left:0;
}
ul#teamscontent li
{
    display:block;
    float:left;
    margin-left:28px;
    position: relative;
}
ul#teamscontent li h4
{
    width: 162px;
    height: 39px;
    position: absolute;
    top: 75%;
    left: 0;
    padding:5px 10px 0;
    background:#FFF;
    display:none;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
ul#teamscontent li h4 span
{
    font-weight:bold;
    color:#000;
    font-family: tahoma;
    font-weight: bold;
}
.newscontents
{
    margin-top:10px;
}
.newscontents a
{
    font-size: 20px;
    color: #FFF;
    text-decoration:none;
}
.newscontents a:hover
{
    text-decoration:underline;
}
#topcontainer
{
    width:1024;
    position:relative;
    overflow:hidden;
    height:28px;
}
ul#navigation
{
    padding-bottom:10px;
    float:left;
    position:relative;
}
ul#navigation li
{
    display:block;
    float:left;
    padding-left:10px;
    position:relative;
    padding-top:5px;
}
ul#navigation li a,a#loginLink
{
    color:#FFF;
    font-size:17px;
    font-family:Tahoma;
    text-decoration:none;
    padding:5px;
}
ul#navigation li a:hover,a#loginLink:hover
{
    background:#CCC;
}
div#loglinks
{
    float:right;
    padding-top: 5px;
}
a#loginLink
{
    
}
div#bandbanner 
{
    width: 1024px;
}
div#bandbanner img
{
    margin: auto;
    position: relative;
    display: block;
}
div#bandinfo
{
    position: relative;
    width:1024px;
    overflow:hidden;
    display:block;
}
div#bandinfo #bandname
{
    width:400px;
    /*background:#8B8787;*/
}
div#bandinfo #bandname h2
{
    font-size:3em;
    font-weight:bold;
    margin:10px 0;
}
