body
{
    font-family: 'Open Sans', segoe ui, verdana, arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 14px;
    width: 1024px;
    margin: 12px auto;
}

hr
{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #333, #ccc, #333);
    background-image: -moz-linear-gradient(left, #333, #ccc, #333);
    background-image: -ms-linear-gradient(left, #333, #ccc, #333);
    background-image: -o-linear-gradient(left, #333, #ccc, #333);
}

h1.app-logo
{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

    h1.app-logo span
    {
        font-weight: lighter;
    }

h6.app-logo
{
    text-align: right;
}
div#maincontentarea
{
    height:auto;
    position:relative;
}
div.event-title
{
    width: 600px;
    font-size: 72px;
    height: 400px;
    overflow: hidden;
    position: relative;
    float:left;
    background:url("Images/l.jpg") no-repeat 0 0;
}

    div.event-title span
    {
        position: absolute;
        bottom: 0;
        text-align: right;
        width:600px;
    }
div#rightcontentarea
{
    float:left;
    width:400px;
    padding-left: 24px;
    position:relative;
    height:auto;
}
#timer,#newscontainer
{
    position:relative;
}
#timer
{
    height:40px;
    font-size:45px;
}
#newscontainer
{
    padding-top:30px;
    height:auto;
}
#newscontainer h2
{
    font-size: 40px;
}
div#teamscontainer
{
    padding-top:30px;
}
ul#teamscontent
{
    
}
ul#teamscontent li img
{
    width:180px;
    border:#FFF solid 1px;
}
ul#teamscontent li:first-child
{
    padding-left:0;
}
ul#teamscontent li
{
    display:block;
    float:left;
    padding-left:28px;
}
.newscontents
{
    margin-top:10px;
}
.newscontents a
{
    font-size: 20px;
    color: #FFF;
    text-decoration:none;
}
.newscontents a:hover
{
    text-decoration:underline;
}
#topcontainer
{
    width:1024;
    position:relative;
    overflow:hidden;
    height:28px;
}
ul#navigation
{
    padding-bottom:10px;
    float:left;
    position:relative;
}
ul#navigation li
{
    display:block;
    float:left;
    padding-left:10px;
}
ul#navigation li a,a#loginLink
{
    color:#FFF;
    font-size:17px;
    font-family:Tahoma;
    text-decoration:none;
    padding:5px;
}
ul#navigation li a:hover,a#loginLink:hover
{
    background:#CCC;
}