<h1>Adarnauts</h1>
<p>Airline Ops (Dev/PM) - Revenue Acctg</p>
<br />
<div id="player">
</div>

<script type="text/javascript">
    flowplayer("player", "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")",
	{ "clip": { "url": "@Url.Content("~/Content/adarnauts1.flv")" }, "plugins": { "rtmp": { "netConnectionUrl": "rtmp://rtmp01.hddn.com/fpplay", "url": "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")"}} }
);
</script>