<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="Content/Reset.css" rel="stylesheet" type="text/css">
	<link href="Content/Main.css" rel="stylesheet" type="text/css">
	<title>@ViewHelper.Title @ViewHelper.Version - [@ViewHelper.Description]</title>
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
