<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - Raisins 2012</title>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <h1>Raisins 2012</h1>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>