@if (Request.IsAuthenticated) {
    <div id="loglinks">
        @using (Html.BeginForm("Logoff", "Accounts", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.ActionLink(string.Format("Hello, {0}!", @User.Identity.Name), "ChangePassword", "Accounts", null, new { id = "userlinks" })
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" id="loginLink">LOG OFF</a>
        }

        
    </div>
} else
{
    <div id="loglinks">
        @Html.ActionLink("LOG IN", "LOGIN", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
   
}
