@if (Request.IsAuthenticated) {
    <div id="loglinks">
        @using (Html.BeginForm("Logoff", "Accounts", FormMethod.Post, new { id = "logoutForm" })) {
            <span id="loginname">Hello, @User.Identity.Name!</span>
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" id="loginLink">Log off</a>
        }
    </div>
} else
{
    <div id="loglinks">
        @Html.ActionLink("Log in", "Login", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
   
}
