<div class="mechanics">
<h1>For the voters:</h1>
<h2>Manila office:</h2>
<ol>
    <li>
    Voting period starts on November 9 and will have the following cut-off dates:
        <ul>
            <li>
                * December 5, 6pm – Cut-off time for Top 3 HMS Video Scoring and End Voting Period for External Votes (Paper tickets). 
                <p>
                - Tally of votes by this time will be used for scoring the Top 3 HMS Video.  
                </p>
            </li>
            <li>
                * December 6, 8pm – Final Cut-off
                <p>
                - Tally of votes from December 5 cut-off up to this time will be used for scoring the 'Voting Impact' criteria for the Live Presentation.
                </p>
            </li>
        </ul>
    </li>
    <li>
    Videos will be uploaded in the portal and HMS facebook page by the committee.
    </li>
    <li>
    Cast your votes by buying tickets from the business manager of the group of your choice:
        <ol>
            <li>Group 1 – Mel de Castro</li>
            <li>Group 2 – Jonas Obada and Alvin Bolanos</li>
            <li>Group 3 – Youmi Angkiko and Matt Ventura</li>
            <li>Group 4 – Rod Lucaya and Les Manalili</li>
            <li>Group 5 – Joy Diaz and Cha Pangilinan</li>
            <li>Group 6 – Cherry Fernandez</li>
            <li>Group 7 – Grace Gomez</li>
        </ol>
    </li>
    <li>
    Each vote/ticket costs P50. 
    </li>
    <li>
    An e-ticket will be e-mailed to Navitaire voters. Non-Navitaire voters will be issued paper tickets instead.
    </li>
    <li>
    All paid tickets will be part of the raffle draw. The more tickets you buy the more chances of winning! 
    </li>
</ol>
<br />
<h1>Other Offices:</h1>
<ol>
    <li>
    Voting period starts on November 9 and will end on December 2.
    </li>
    <li>
    Videos will be uploaded in the portal and HMS facebook page by the committee.
    </li>
    <li>
   There are 2 ways to cast your votes:
        <ul>
            <li>
                * A.  Buy tickets from the following representatives:
                <p>SLC – Barbara Young</p>
                <p>MSP - Amy Peschong</p>
                <p>AUS – Susan Benites</p>
            </li>
            <li>
               B.  Contribute through Paypal which can be done through the <a href="http://foodforhungryminds.org/">HMS website</a>. Be sure to include each team you are voting for in the "message" section before sending. If the message section is left blank, the vote will be split amongst the teams.
            </li>
        </ul>
    </li>
   <li>
    Ticket costs are as follows:
        <p>1 USD = 1 ticket</p>
        <p>1 AUD = 1 ticket</p>
        <p>1 GBP = 1 ticket</p>
        <p>2 SGD = 1 ticket</p>
        <p>2 NZD = 1 ticket</p>
        <p>9 HKD = 1 ticket</p>
    </li>
    <li>
    An e-ticket will be e-mailed to voters every Friday.
    </li>
    <li>
    All paid tickets will be part of the raffle draw. The more tickets you buy the more chances of winning!
    </li>
    <li>
    If requested, Margie Koch will provide receipts for tax purposes.
    </li>
</ol>
<h1>HMS Auditors per Group:</h1>
    <b>
    <p>Group 1 – Leo Rull</p>
    <p>Group 2 – Lors Bonita</p>
    <p>Group 3 – Aubrey Reyes</p>
    <p>Group 4 – Jay Charles Uy</p>
    <p>Group 5 – Natasha Mendoza</p>
    <p>Group 6 - Jasper Jay Gomez</p>
    <p>Group 7 - Cecille Edsalaine Santiago</p>
    </b>
</div>
