<h1>Modern Royalties</h1>
<p>Shared Services - BPO - TS</p>
<br />
<div id="player">
</div>

<script type="text/javascript">
    flowplayer("player", "/Content/flowplayer-3.2.5-0.swf",
	{ "clip": { "url": "http://localhost:3000/Content/modern-royalties1.flv" }, "plugins": { "rtmp": { "netConnectionUrl": "rtmp://rtmp01.hddn.com/fpplay", "url": "/Content/flowplayer-3.2.5-0.swf"}} }
);
</script>