<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/Thats IT.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>That's IT</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
        <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/remedy.webm"/>
              <source type="video/mp4" src="~/Content/Videos/remedy.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/remedy.ogv"/>
           </video>
        </div>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
            @*<li>Name:	Everwin Fajardo <br />
            SUS Team:	 OC Reservations (New Skies, ESC, Disney, Webhosting)<br />
            Role:	Band Manager  <br />
            Musical Influence/s: Justin Bieber </li>*@
            <li>TBA <br /></li>

            
        </ul>
    </div>
</div>
