<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/Thats IT.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>That's IT</h2>
        </div>
        <h3>Video</h3>
       <div id="bandvideo">
            <iframe width="480" height="320" src="https://www.youtube.com/embed/HtUwFSDP-Yw" ></iframe>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>SUS IT Boys</li>
        </ul>
    </div>
</div>



