<div id="maincontentarea">
    <div id="bandbanner">
<img src="~/Content/Images/QAiTS.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
      <h2>QAiTS</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
            <iframe width="480" height="320" src="https://www.youtube.com/embed/6fo9eukU7xE" ></iframe>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
        <li>Mai Navarro<br /></li>
            <li>Paolo Trinidad<br /></li>
            <li>Mark Lester Lumawig<br /></li>
            <li>Japs Soria<br /></li>
            <li>Mia Logica<br /></li>
            <li>Michelle Rodrigo Edhiko Adacruz<br /></li>
            <li>Danielito Andag<br /></li>
            

        </ul>
    </div>
</div>
