<div id="maincontentarea">
    <div id="bandbanner">
       <img src="~/Content/Images/Funny Is The New Pogi.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>Funny Is The New Pogi</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
        <iframe width="480" height="320" src="https://www.youtube.com/embed/SNQXSeF2fFY" ></iframe>
        </div>
        <h3>Members</h3>
       <ul id="bandmembers">
           <li>Warren Miňano<br /></li>
       </ul>
    </div>
</div>
