<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/banana gang.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>BANANA GANG</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
      <iframe width="480" height="320" src="https://www.youtube.com/embed/YM1y173aXxk" ></iframe>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>TBA.</li>
@*            <li>Nickname: Nico<br />
            Role: Dancer, Guitarist<br />
            Team: Rez Dev<br />
            Favorite Song: Ho Hey by The Lumineers<br />
            Favorite Band/Singer: Yung banda namin, shempre.</li>*@
        </ul>
    </div>
</div>
