<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/rsz_resbandlandscape.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>The RES Band</h2>
        </div>
        <ul id="bandmembers">
            <li>Name: David Datu<br />
            Role: Gitarista<br />
            Team: Conversion Team<br />
            Fave Song: Jing-gambels<br />
            Fave Band: Jing-gangoldawey</li>

            <li>Name: Sheam Mahaguay<br />
            Role: Giratista<br />
            Team: NewSkies UI<br />
            Fave Song: The Alien Song<br />
            Fave Band: Alien Eat Raw Meat</li>

            <li>Name: Javi Guarin<br />
            Role: Bokalista / Bahista<br />
            Team: NewSkies NPS<br />
            Fave Song: La-Love-Vhy<br />
            Fave Band: </li>

            <li>Name: Rina Jimenez<br />
            Role: Bokalista<br />
            Team: NewSkies Skyport<br />
            Fave Song: The Phantom of the Opera<br />
            Fave Band: Sarah Brightman</li>

            <li>Name: RJ Montero<br />
            Role: Kibordista<br />
            Team: NewSkies Core<br />
            Fave Song: Doe a Deer<br />
            Fave Band: RES Band</li>

            <li>Name: Aaron Estacio<br />
            Role: Dramista<br />
            Team: NCA<br />
            Fave Song: Happy Birthday<br />
            Fave Band: SkyChurch</li>
        </ul>
    </div>
</div>
