<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/banana gang.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>BANANA GANG</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
       <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/saboteurs.webm"/>
              <source type="video/mp4" src="~/Content/Videos/saboteurs.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/saboteurs.ogv"/>
           </video>
        </div>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>TBA.</li>
@*            <li>Nickname: Nico<br />
            Role: Dancer, Guitarist<br />
            Team: Rez Dev<br />
            Favorite Song: Ho Hey by The Lumineers<br />
            Favorite Band/Singer: Yung banda namin, shempre.</li>*@
        </ul>
    </div>
</div>
