<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/The TimeJumpers.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
 <h2>The TimeJumpers</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
            <iframe width="480" height="320" src="https://www.youtube.com/embed/LAslqrGjROM" ></iframe>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
      <li>Mai Navarro<br /></li>
             <li>Kass Micu<br /></li>
             <li>Angie Tobias<br /></li>
               <li>Karl Alex Taag<br /></li>
               <li>Blesilda Cadiz<br /></li>
               <li>Jeremiah Soan<br /></li>
               <li>Joan See<br /></li>
               <li>Dominic John Paguia<br /></li>







        </ul>
    </div>
</div>
