<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/monstrou.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>MONSTROU</h2>
        </div>
        @*<h3>Video</h3>
        <div id="bandvideo">
        <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/remedy.webm"/>
              <source type="video/mp4" src="~/Content/Videos/remedy.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/remedy.ogv"/>
           </video>
        </div>
        </div>*@
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>William Leonor<br /></li>
            <li>Lino Paulo Castro III<br /></li>
            <li>David Datu<br /></li>
            <li>Ron de Guzman<br /></li>
        </ul>
    </div>
</div>
