<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/aQApella.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>aQApella</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
        <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/jng.webm"/>
              <source type="video/mp4" src="~/Content/Videos/jng.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/jng.ogv"/>
           </video>
        </div>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>Rina Joy Jimenez<br /></li>
            <li>Aja Berico<br /></li>
            <li>Kye Valenzuela<br /></li>
            <li>Aldrin Cortez<br /></li>
    </ul>
    </div>
</div>
