<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/monstrou.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>MONSTROU</h2>
        </div>
        @*<h3>Video</h3>
        <div id="bandvideo">
        <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/remedy.webm"/>
              <source type="video/mp4" src="~/Content/Videos/remedy.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/remedy.ogv"/>
           </video>
<<<<<<< HEAD
        </div>
        </div>*@
=======
        </div>*@
            
        @*<object type="application/x-shockwave-flash" style="width:480px; height:320px;" data="http://www.youtube.com/v/fglBTdG76WI?color2=FBE9EC&amp;rel=0&amp;hd=1&amp;showsearch=0&amp;version=3">
        <param name="movie" value="http://www.youtube.com/v/fglBTdG76WI?color2=FBE9EC&amp;rel=0&amp;hd=1&amp;showsearch=0&amp;version=3" />
        <param name="allowFullScreen" value="true" />
        <param name="allowscriptaccess" value="always" />
        </object> *@

      <iframe width="480" height="320" src="https://www.youtube.com/embed/fglBTdG76WI" ></iframe>
          

        </div>

>>>>>>> originromedison/master
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>William Leonor<br /></li>
            <li>Lino Paulo Castro III<br /></li>
            <li>David Datu<br /></li>
            <li>Ron de Guzman<br /></li>
        </ul>
    </div>
</div>
