<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/The Chronicles of Naina.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
         <h2>The Chronicles of Naina</h2>
        </div>
        <h3>Video</h3>
       <div id="bandvideo">
      <iframe width="480" height="320" src="https://www.youtube.com/embed/39kW8x-nD_Y" ></iframe>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
       <li>Pio Cortez</li>
        </ul>
    </div>
</div>



