<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/rsz_poster.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>Forever Wassaque</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
        <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/forever.webm"/>
              <source type="video/mp4" src="~/Content/Videos/forever.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/forever.ogv"/>
           </video>
        </div>
        </div>
        <h3>Members</h3>
       <ul id="bandmembers">
           <li>Name: Red<br />
            Team:  SS MNL - NavIP<br />
            Role in the Band: Vocalist<br />
            Favorite Band:  2NE1</li>

            <li>Name: Rod<br />
            Team:  SS MNL - CM<br />
            Role in the Band:  Manager/Turon dealer<br />
            Favorite Band:  The Saboteurs</li>

            <li>Name: Jonas<br />
            Team:  Ancillary – Travel Commerce QA<br />
            Role in the Band:  Director<br />
            Favorite Band: Boyz Avenue</li>

            <li>Name: Donz <br />
            Team:  SS MNL - NavIP<br />
            Role in the Band:  Guitarist<br />
            Favorite Band:  The Moffats</li>
       </ul>
    </div>
</div>
