<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/AARONics.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>AARONics</h2>
        </div>
        @*<h3>Video</h3>
        <div id="bandvideo">
              <iframe width="480" height="320" src="https://www.youtube.com/embed/dVYmRO4pwas" ></iframe>
        </div>
          
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>Christian Tulio<br /></li>
            <li>Sheila Santiago<br /></li>
            <li>Michelle Tarcena<br /></li>
        </ul>
    </div>
</div>
