<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/rsz_jng.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>JNG Project</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum rhoncus nibh ac pretium. Suspendisse sit amet orci nunc.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum rhoncus nibh ac pretium. Suspendisse sit amet orci nunc.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum rhoncus nibh ac pretium. Suspendisse sit amet orci nunc.</p>
    </div>
</div>
