<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/AOPSmith.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>AOPSmith</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
        <iframe width="480" height="320" src="https://www.youtube.com/embed/SNQXSeF2fFY" ></iframe>
        </div>
        <h3>Members</h3>
       <ul id="bandmembers">
           <li>Jeca Ancheta<br /></li>
            <li>Jona Cabela <br /></li>
            <li> Rona Espiritu<br /></li>
            <li>  Nicole Fadul<br /></li>
            <li> Nikki Hernandez<br /></li>
            <li> Jasper Islan<br /></li>
            <li>  Marvin Valencia<br /></li>
           <li> Mark Relucio<br /></li>
            <li> Wolf Rodriguez<br /></li>
       </ul>
    </div>
</div>
