<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/rsz_remedy_with_their_manager.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>The Remedy</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
        <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/remedy.webm"/>
              <source type="video/mp4" src="~/Content/Videos/remedy.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/remedy.ogv"/>
           </video>
        </div>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>Name:	Everwin Fajardo <br />
            SUS Team:	 OC Reservations (New Skies, ESC, Disney, Webhosting)<br />
            Role:	Band Manager  <br />
            Musical Influence/s: Justin Bieber </li>

            <li>Name:	Cris Albert  Malecon<br />
            SUS Team:	OC Reservations (New Skies, ESC, Disney, Webhosting)<br />
            Role:	Rhythm guitars/lead vocals<br />
            Musical Influence/s:	Edmond Defiesta</li>


            <li>Name:	Edmond Ricablanca Defiesta<br />
            SUS Team:	OC Unix/Virtual Infrastructure <br />
            Role:	Lead Guitars<br />
            Musical Influence/s:	Jimi Hendrix, Bob Marley, Incubus, Metallica, Eraserheads, Britney Spears</li>


            <li>Name:	Ric Andreo Magno <br />
            SUS Team:	OC Batch Operations<br />
            Role:	Vocals<br />
            Musical Influence/s:	The Beatles, New Found Glory, Fall Out Boy, All time Low, Eraserheads, PNE.</li>


            <li>Name:	Jan Alvin Magsino<br />
            SUS Team:	OC Customer Support Specialist<br />
            Role:	Drums / Vocals<br />
            Musical Influence/s:	Eraserheads, Super Junior</li>


            <li>Name:	Michel Gene S. Fortus<br />
            SUS Team:	OC Storage<br />
            Role:	Bass Guitars<br />
            Musical Influence/s:	Planetshakers, Hillsong United, Israel Houghton, Casting Crowns</li>

        </ul>
    </div>
</div>
