<div id="maincontentarea">
    <div id="bandbanner">
    <img src="~/Content/Images/rsz_jng.jpg" />
    </div>
    <div id="bandinfo">
        <div id="bandname">
        <h2>JNG Project</h2>
        </div>
        <h3>Video</h3>
        <div id="bandvideo">
        <div class="flowplayer">
           <video preload="auto">
              <source type="video/webm" src="~/Content/Videos/jng.webm"/>
              <source type="video/mp4" src="~/Content/Videos/jng.mp4"/>
              <source type="video/ogg" src="~/Content/Videos/jng.ogv"/>
           </video>
        </div>
        </div>
        <h3>Members</h3>
        <ul id="bandmembers">
            <li>Name: Jonah Christine Torres<br />
            Team: SUS – Production Management – Revenue Management Team<br />
            Role in the Band: Vocalist<br />
            Favorite Past time: watching movies, eating my comfort food and shopping <br />
            Favorite Band: Gin Blossoms, Coldplay, The Fray, Snow Patrol, Maroon 5</li>


            <li>Name: Norman Lopez<br />
            Team: SUS – Production Management – Installs Team<br />
            Role in the Band: Guitarist<br />
            Favorite Past time: Sports<br />
            Favorite Band: D’Sound, Toto, Vertical Horizon, Paramore, Switchfoot</li>


            <li>Name: Geoff Yumul<br />
            Team: SUS – Production Management – IT<br />
            Role in the Band: Bassist <br />
            Favorite Past time: reading books, listening to music, cooking, tinkering musical stuff<br />
            Favorite Band: Coldplay, Aerosmith, Guns N Roses, Lifehouse, TobyMac, The Darkness</li>
        </ul>
    </div>
</div>
