<h1>Rez-naissance</h1>
<p>Reservations Dev</p>
<br />
<div id="player">
</div>

<script type="text/javascript">
    flowplayer("player", "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")",
	{ "clip": { "url": "@Url.Content("~/Content/rez-naissance1.flv")" }, "plugins": { "rtmp": { "netConnectionUrl": "rtmp://rtmp01.hddn.com/fpplay", "url": "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")"}} }
);
</script>