<ul>
<li>
<img src="/Content/team1.jpg" alt="Adarnauts" /> <h3>Adarnauts</h3><p>Description here.</p>
</li>
<li>
<img src="/Content/team2.jpg" alt="Adarnauts" /> <h3>Rez-naissance</h3><p>Description here.</p>
</li>
<li>
<img src="/Content/team3.jpg" alt="Adarnauts" /> <h3>Modern Royalties</h3><p>Description here.</p>
</li>
<li>
<img src="/Content/team4.jpg" alt="Adarnauts" /> <h3>QA Pop</h3><p>Description here.</p>
</li>
<li>
<img src="/Content/team5.jpg" alt="Adarnauts" /> <h3>Team V</h3><p>Description here.</p>
</li>
<li class="bottom">
<h3>Support your team. All proceeds will go to HMS funds.</h3>
</li>
</ul>
