@using Raisins.Client.Web.Models;
@using Raisins.Client.Web;

@{
    ViewBag.Beneficiaries = Beneficiary.GetAll();
}

<ul>
    @foreach (var beneficiary in ViewBag.Beneficiaries)
    { 
        <li>
            <img src="@Url.Content("~/Content/" + ViewHelper.FormatName(beneficiary.Name) + ".jpg")" alt="@beneficiary.Name" />
            <h3>
                <a href="@Url.Content("~/home/pages?template=" + ViewHelper.FormatName(beneficiary.Name))"></a></h3>
            <p>
                @beneficiary.Description</p>
        </li>
    }
    <li class="bottom">
        <h3>
            Support your team.
            <br />
            <br />
            All proceeds will go to the HMS Highschool Scholarship Fund.</h3>
    </li>
</ul>
