<h1>Team V</h1>
<p>Product, SkyPrice Dev/QA, TC, Loyalty, Disney, SkyLedger QA</p>
<br />
<div id="player">
</div>

<script type="text/javascript">
    flowplayer("player", "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")",
	{ "clip": { "url": "@Url.Content("~/Content/team-v1.flv")" }, "plugins": { "rtmp": { "netConnectionUrl": "rtmp://rtmp01.hddn.com/fpplay", "url": "@Url.Content("~/Content/flowplayer-3.2.5-0.swf")"}} }
);
</script>