<h1>Team V</h1>
<p>Product, SkyPrice Dev/QA, TC, Loyalty, Disney, SkyLedger QA</p>
<br />
<div id="player">
</div>

<script type="text/javascript">
    flowplayer("player", "/Content/flowplayer-3.2.5-0.swf",
	{ "clip": { "url": "http://localhost:3000/Content/dream.flv" }, "plugins": { "rtmp": { "netConnectionUrl": "rtmp://rtmp01.hddn.com/fpplay", "url": "/Content/flowplayer-3.2.5-0.swf"}} }
);
</script>