<script type="text/javascript" src="/scripts/flowplayer-3.2.6.min.js"></script>


<span class="title">Welcome to TreeSUS' page!</span>
<div class="video">
    <a id="player" href="/content/treesus.flv"></a>
</div>
<script language="JavaScript">
    flowplayer("player", "/content/flowplayer-3.2.7.swf");
</script>	
<div class="description">
    <h1>--</h1>
    <p>Video Summary</p>
    <p class="message">Don't forget to vote!</p>
</div>