@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    ChangePassword</h2>
@using (@Html.BeginForm())
{
    <fieldset>
        Old Password<br />
        @Html.Password("OldPassword")<br />
        New Password<br />
        @Html.Password("NewPassword")<br />
        Confirm<br />
        @Html.Password("ConfirmPassword")<br />
        <input type="submit" value="Save" />
    </fieldset>
}