@model Raisins.Client.Web.Models.Ledger

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ledger</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LedgerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
