@model IEnumerable<Raisins.Client.Web.Models.Ledger>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table>
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LedgerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LedgerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LedgerID })
        </td>
    </tr>
}

</table>
*@

@if (Model != null && Model.Count<Raisins.Client.Web.Models.Ledger>() > 0)
{
    var ledgerModel = Model.ToList<Raisins.Client.Web.Models.Ledger>()[0];
    foreach (Raisins.Client.Web.Models.Payment payment in ledgerModel.Payments)
    {
        //iterate payments here
    }
}


<div id="payments"></div>
<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var paymentsArray = [],
            paymentsCount = 0;

        drawPaymentFields = function () {
            var paymentsSection = $('#payments') || {},
                paymentsSectionTemplate = '[paymentAmountLabel][paymentAmountField][addPaymentButton]',
                paymentAmountLabelTemplate = '<label for="Payments[[index]].Amount">Amount:</label>',
                paymentAmountFieldTemplate = '<input type="text" value="" name="Payments[[index]].Amount" id="Payments[[index]].Amount">',
                addBtnTemplate = '<input type="button" value="+" id="addPaymentBtn_[index]">',
                html = '';

            paymentsSectionTemplate = paymentsSectionTemplate.replace(/\[paymentAmountLabel\]/g, paymentAmountLabelTemplate);
            paymentsSectionTemplate = paymentsSectionTemplate.replace(/\[paymentAmountField\]/g, paymentAmountFieldTemplate);
            paymentsSectionTemplate = paymentsSectionTemplate.replace(/\[addPaymentButton\]/g, addBtnTemplate);
            paymentsSectionTemplate = paymentsSectionTemplate.replace(/\[index\]/g, paymentsCount);
            html = html + paymentsSectionTemplate;
            paymentsSection.html(html);
        };

        addPayment = function () {
            paymentsCount = paymentsCount + 1;
            //ajax call
            draw();
        };

        addEvents = function () {
            var addPaymentButtonID = '#addPaymentBtn_';

            $(addPaymentButtonID + paymentsCount).click(addPayment);
        };

        draw = function () {
            drawPaymentFields();
            addEvents();
        };
        draw();
    });
</script>