@using Raisins.Client.ViewModels
@using Raisins.Client.Controllers

@model RaffleViewModel
@{
    ViewBag.Title = "HMS Raffle";
}
<div>
    <div>
        <div class="col-lg-offset-1">
            <div class="row">
                <div class="col-xs-4">
                    @using (Html.BeginForm("RaffleLocal", "Raffle", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-default" style="width:200px">Local</button>
                    }
                </div>
                <div class="col-xs-4">
                    @using (Html.BeginForm("RaffleExternal", "Raffle", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-default" style="width:200px">External</button>
                    }
                </div>
                <div class="col-xs-4">
                    @using (Html.BeginForm("RaffleInternational", "Raffle", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-default" style="width:200px">International</button>
                    }
                </div>
            </div>
        </div>
        <div class="row" style="padding:15px">

        </div>
        <div class="row">
            <div style="background-image:url(../../Content/Images/bg6.png)">
                <div class="row" style="padding:10%">

                </div>
                <h1 class="text-center" style="color:azure">
                    @Model.Winner
                </h1>
                <h3 class="text-center" style="color:azure">
                    (@Model.TicketCode)
                </h3>
                <div class="row" style="padding:10%"/>
            </div>
        </div>
    </div>

</div>